RewriteEngine On

Header add Content-Security-Policy: "default-src 'none'; script-src 'self' 'report-sample' js.hcaptcha.com; style-src 'self' 'report-sample' https://fonts.googleapis.com/css2; img-src 'self' data: cdn.assistantapps.com; font-src 'self' fonts.gstatic.com; frame-src newassets.hcaptcha.com; manifest-src https://assistantapps.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;"
Header add X-Content-Security-Policy: "default-src 'none'; script-src 'self' 'report-sample' js.hcaptcha.com; style-src 'self' 'report-sample' https://fonts.googleapis.com/css2; img-src 'self' data: cdn.assistantapps.com; font-src 'self' fonts.gstatic.com; frame-src newassets.hcaptcha.com; manifest-src https://assistantapps.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;"
Header add X-WebKit-CSP: "default-src 'none'; script-src 'self' 'report-sample' js.hcaptcha.com; style-src 'self' 'report-sample' https://fonts.googleapis.com/css2; img-src 'self' data: cdn.assistantapps.com; font-src 'self' fonts.gstatic.com; frame-src newassets.hcaptcha.com; manifest-src https://assistantapps.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;"
Header add Set-Cookie: "cross-site-cookie=name; SameSite=None; Secure"
Header add X-Clacks-Overhead: "GNU Terry Pratchett, Eddison the Magic Doggo"
Header add Clacks-Overhead: "GNU Terry Pratchett, Eddison the Magic Doggo"
Header add X-Powered-by: "Magic &amp; the Distraction Squad"


RewriteRule ^Discord/(.*)$ https://discord.gg/q3aFBQM?ref=AssistantApps [R=301,NC,L]
RewriteRule ^Github/(.*)$ https://github.com/AssistantApps?ref=AssistantApps [R=301,NC,L]
RewriteRule ^Kurt/(.*)$ https://kurtlourens.com?ref=AssistantApps [R=301,NC,L]
RewriteRule ^kronosios/(.*)$ https://apps.apple.com/us/app/kronos-cod-zombies-companion/id1438078478?ref=AssistantApps [R=301,NC,L]
RewriteRule ^kronosandroid/(.*)$ https://play.google.com/store/apps/details?id=companion.kronosflutter&amp;ref=AssistantApps [R=301,NC,L]
