<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="default-src 'none'; script-src 'self' 'report-sample' 'nonce-is-preload-handler' 'sha256-iN7wpJdxHlpujRppkOA8N0+Mzp0ZqZr3lCtxM00Y63c=' cdnjs.cloudflare.com www.googletagmanager.com js.hcaptcha.com webcomp.assistantapps.com; style-src 'self' 'unsafe-inline' 'report-sample' 'nonce-google-font' https://fonts.googleapis.com/css2; img-src 'self' data: cdn.assistantapps.com cdn-usr.assistantapps.com; font-src 'self' fonts.gstatic.com; frame-src newassets.hcaptcha.com; manifest-src http://127.0.0.1:8080/manifest.json https://assistantapps.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="X-Content-Security-Policy" value="default-src 'none'; script-src 'self' 'report-sample' 'nonce-is-preload-handler' 'sha256-iN7wpJdxHlpujRppkOA8N0+Mzp0ZqZr3lCtxM00Y63c=' cdnjs.cloudflare.com www.googletagmanager.com js.hcaptcha.com webcomp.assistantapps.com; style-src 'self' 'unsafe-inline' 'report-sample' 'nonce-google-font' https://fonts.googleapis.com/css2; img-src 'self' data: cdn.assistantapps.com cdn-usr.assistantapps.com; font-src 'self' fonts.gstatic.com; frame-src newassets.hcaptcha.com; manifest-src http://127.0.0.1:8080/manifest.json https://assistantapps.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="X-WebKit-CSP" value="default-src 'none'; script-src 'self' 'report-sample' 'nonce-is-preload-handler' 'sha256-iN7wpJdxHlpujRppkOA8N0+Mzp0ZqZr3lCtxM00Y63c=' cdnjs.cloudflare.com www.googletagmanager.com js.hcaptcha.com webcomp.assistantapps.com; style-src 'self' 'unsafe-inline' 'report-sample' 'nonce-google-font' https://fonts.googleapis.com/css2; img-src 'self' data: cdn.assistantapps.com cdn-usr.assistantapps.com; font-src 'self' fonts.gstatic.com; frame-src newassets.hcaptcha.com; manifest-src http://127.0.0.1:8080/manifest.json https://assistantapps.com/manifest.json; connect-src api.assistantapps.com; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="Set-Cookie" value="cross-site-cookie=name; SameSite=None; Secure" />
                <add name="X-Clacks-Overhead" value="GNU Terry Pratchett, Eddison the Magic Doggo" />
                <add name="Clacks-Overhead" value="GNU Terry Pratchett, Eddison the Magic Doggo" />
                <add name="X-Powered-by" value="Magic & the Distraction Squad" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="RedirectTodiscord" stopProcessing="true">
                    <match url="^(.*)discord(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://discord.gg/q3aFBQM?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTogithub" stopProcessing="true">
                    <match url="^(.*)github(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://github.com/AssistantApps?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTopatreon" stopProcessing="true">
                    <match url="^(.*)patreon(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://patreon.com/AssistantApps?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTosupport" stopProcessing="true">
                    <match url="^(.*)support(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://assistantapps.freshdesk.com?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTonms-roadmap" stopProcessing="true">
                    <match url="^(.*)nms-roadmap(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://github.com/orgs/AssistantNMS/projects/3/views/4?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTokurt" stopProcessing="true">
                    <match url="^(.*)kurt(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://kurtlourens.com?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTokronosios" stopProcessing="true">
                    <match url="^(.*)kronosios(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://apps.apple.com/us/app/kronos-cod-zombies-companion/id1438078478?ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectTokronosandroid" stopProcessing="true">
                    <match url="^(.*)kronosandroid(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://play.google.com/store/apps/details?id=companion.kronosflutter&amp;ref=AssistantApps" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>