@use "sass:math";
@import "./_slider-generated.sass";

$appIconSize: 50px;

.apps-start-word-slider {
    &::after {
        content: "Assistant for ";
        animation: appsWordSliderStartText #{$appAnimationDuration}s infinite;
        overflow: hidden;
    }
}

.apps-end-word-slider {
    &::after {
        content: "everything!";
        animation: appsWordSliderEndText #{$appAnimationDuration}s infinite;
        overflow: hidden;
    }
}

#banner>.inner .apps-end-word-slider {
    @include breakpoint("<medium") {
        display: block;
    }
}

@keyframes appsWordSliderStartText {
    @for $titleIndex from 1 through length($appStartTitles) {
        $percentageLower: (($titleIndex - 1) * $appAnimationPerc)+1;
        $percentage: ($titleIndex * $appAnimationPerc);

        @if $titleIndex==1 {
            $percentageLower: 0;
        }

        $title: nth($appStartTitles, $titleIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            content: $title;
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            content: $title;
        }
    }
}

@keyframes appsWordSliderEndText {
    @for $titleIndex from 1 through length($appStartTitles) {
        $percentageLower: (($titleIndex - 1) * $appAnimationPerc)+1;
        $percentage: ($titleIndex * $appAnimationPerc);

        @if $titleIndex==1 {
            $percentageLower: 0;
        }

        $title: nth($appEndTitles, $titleIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            content: $title;
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            content: $title;
        }
    }
}

.apps-image-slider {
    width: $appIconSize;
    height: $appIconSize;
    background-image: url($defaultAppImage);
    background-repeat: round;
    animation: appsImageSliderText #{$appAnimationDuration}s infinite;
    border-radius: 5px;

    @include breakpoint("<medium") {
        margin: 0 auto;
    }
}

@keyframes appsImageSliderText {
    @for $imageIndex from 1 through length($appImages) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appImages, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }
    }
}

body.is-preload .screenshot-stack .apps-screenshot {
    transition-duration: 10ms;
}

.screenshot-stack {
    height: 100%;

    .apps-screenshot {
        height: 100%;
        transition: all 1s ease-in-out;

        .screenshot-inner {
            position: relative;
            display: inline-block;
            height: 100%;

            &:before {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 8px;
                left: -8px;
                height: 100%;
                width: 100%;
                background-image: url(/assets/img/phone-bg.png);
                background-size: cover;
                z-index: -1;
            }

            .apps-left-screenshot-slider-bg,
            .apps-left-screenshot-slider,
            .apps-right-screenshot-slider,
            .apps-screenshot-slider-frame {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
            }

            .apps-left-screenshot-slider-bg {
                background-color: _palette(bg);
                height: 100%;
                border-radius: 2em;
                z-index: -3;
            }

            img.screenshot-frame {
                height: 100%;
            }
        }

        &:nth-child(2) .screenshot-inner:before {
            left: 8px;
        }
    }

    .assistantapps-logo {
        position: absolute;
        top: 40%;
        left: calc(50% - math.div($appIconSize, 2));
        width: $appIconSize;
        height: $appIconSize;
        background-image: url("/assets/img/logo-sm.png");
        border-radius: 10px;
        z-index: -2;
    }

    .apps-screenshot:nth-child(1) {
        position: absolute;
        top: 0;
        left: 10%;
        transform: rotate(-22deg);
        z-index: 2;
        filter: drop-shadow(-5px 5px 16px #333);
    }

    .apps-screenshot:nth-child(2) {
        position: absolute;
        top: 5%;
        left: 45%;
        transform: rotate(12deg);
        z-index: 1;
        filter: drop-shadow(5px 5px 16px #333);
    }

    &:hover {
        .apps-screenshot:nth-child(1) {
            transform: rotate(-16deg);
            filter: drop-shadow(5px 5px 16px #999);
        }

        .apps-screenshot:nth-child(2) {
            transform: rotate(18deg);
            filter: drop-shadow(-5px 5px 16px #999);
        }
    }
}

@supports (-moz-appearance: none) {
    .screenshot-stack {
        margin-left: 2em;

        .apps-screenshot .screenshot-inner {
            height: unset;
        }
    }
}

.apps-left-screenshot-slider {
    background-image: url($defaultAppImage);
    animation: appsLeftScreensAnim #{$appAnimationDuration}s infinite;
    border-radius: 5px;
}

@keyframes appsLeftScreensAnim {
    @for $imageIndex from 1 through length($appLeftScreenshots) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appLeftScreenshots, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }
    }
}

.apps-right-screenshot-slider {
    background-image: url($defaultAppImage);
    animation: appsRightScreensAnim #{$appAnimationDuration}s infinite;
    border-radius: 5px;
}

@keyframes appsRightScreensAnim {
    @for $imageIndex from 1 through length($appRightScreenshots) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appRightScreenshots, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }
    }
}