$appTitles: "No Man's Sky","Scrap Mechanic",
$appImages: "https://cdn.assistantapps.com/icon/assistantNMS.webp","https://cdn.assistantapps.com/icon/assistantSMS.webp",
$defaultAppImage: "https://cdn.assistantapps.com/icon/assistantNMS.webp"

$appAnimationPerc: (100 / length($appTitles))
$appAnimationGapPerc: 5
$appAnimationSecPerApp: 2.5
$appAnimationDuration: ($appAnimationSecPerApp * length($appTitles))