@use "sass:math";
@import "./_slider-generated.sass";

$appIconSize: 50px;

.apps-start-word-slider {
    &::after {
        content: "Assistant for ";
        animation: appsWordSliderStartText #{$appAnimationDuration}s infinite;
        overflow: hidden;
    }
}

.apps-end-word-slider {
    &::after {
        content: "everything!";
        animation: appsWordSliderEndText #{$appAnimationDuration}s infinite;
        overflow: hidden;
    }
}

#banner > .inner .apps-end-word-slider {
    @include breakpoint("<medium") {
        display: block;
    }
}

@keyframes appsWordSliderStartText {
    @for $titleIndex from 1 through length($appStartTitles) {
        $percentageLower: (($titleIndex - 1) * $appAnimationPerc)+1;
        $percentage: ($titleIndex * $appAnimationPerc);

        @if $titleIndex==1 {
            $percentageLower: 0;
        }

        $title: nth($appStartTitles, $titleIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            content: $title;
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            content: $title;
        }
    }
}

@keyframes appsWordSliderEndText {
    @for $titleIndex from 1 through length($appStartTitles) {
        $percentageLower: (($titleIndex - 1) * $appAnimationPerc)+1;
        $percentage: ($titleIndex * $appAnimationPerc);

        @if $titleIndex==1 {
            $percentageLower: 0;
        }

        $title: nth($appEndTitles, $titleIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            content: $title;
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            content: $title;
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            content: $title;
        }
    }
}

.apps-image-slider {
    width: $appIconSize;
    height: $appIconSize;
    background-image: url($defaultAppImage);
    background-repeat: round;
    animation: appsImageSliderText #{$appAnimationDuration}s infinite;
    border-radius: 5px;

    @include breakpoint("<medium") {
        margin: 0 auto;
    }
}

@keyframes appsImageSliderText {
    @for $imageIndex from 1 through length($appImages) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appImages, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }
    }
}

.apps-left-screenshot-slider {
    background-image: url($defaultAppImage);
    animation: appsLeftScreensAnim #{$appAnimationDuration}s infinite;
    border-radius: 5px;
}

@keyframes appsLeftScreensAnim {
    @for $imageIndex from 1 through length($appLeftScreenshots) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appLeftScreenshots, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }
    }
}

.apps-right-screenshot-slider {
    background-image: url($defaultAppImage);
    animation: appsRightScreensAnim #{$appAnimationDuration}s infinite;
    border-radius: 5px;
}

@keyframes appsRightScreensAnim {
    @for $imageIndex from 1 through length($appRightScreenshots) {
        $percentageLower: (($imageIndex - 1) * $appAnimationPerc) + 1;
        $percentage: ($imageIndex * $appAnimationPerc);

        @if $imageIndex==1 {
            $percentageLower: 0;
        }

        $image: nth($appRightScreenshots, $imageIndex);

        #{$percentageLower}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }

        #{$percentageLower + $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage - $appAnimationGapPerc}#{"%"} {
            opacity: 1;
            background-image: url($image);
        }

        #{$percentage}#{"%"} {
            opacity: 0;
            background-image: url($image);
        }
    }
}
