$appIconSize: 50px;
$storeIconSize: 35px;

// #wrapper .wrapper .inner,
// #footer .inner {
//     a.image {
//         @include breakpoint('<medium') {
//             margin: 1em auto !important;
//             display: block;
//             max-width: 100%;
//         }
//     }

//     .major,
//     p {
//         @include breakpoint('<medium') {
//             text-align: center;
//         }
//     }

// }

#wrapper-work {
    text-align: center;
    p {
        color: #b0b0b0;
    }
}

#wrapper,
#wrapper-work {
    margin: 0 auto;
    width: _size(inner);

    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap: 2em;

        .wrapper.spotlight .inner {
            display: flex;

            a.image {
                max-width: $appIconSize;
                max-height: $appIconSize;
                text-decoration: none;
                border: none;

                img {
                    max-width: 100%;
                    border-radius: 15%;
                }
            }

            .content {
                color: #b0b0b0;
                font-size: 0.75em;
                margin-left: 1.5em;
                margin-right: 1.5em;

                h2 {
                    font-size: 1.75em;
                    margin-bottom: 0;
                }

                .store-icon {
                    border-bottom: none;

                    img {
                        max-width: $storeIconSize;
                        max-height: $storeIconSize;
                        transition: all 150ms ease-in-out;
                    }

                    &:hover {
                        img {
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }

        .work-card {
            display: flex;
            flex-direction: column;
            border: 3px solid grey;
            border-radius: 25px;
            padding: 1em 2em;
            text-align: center;

            a,
            a.image {
                text-decoration: none;
                border: none;
            }

            .image,
            .image img {
                max-width: #{$appIconSize * 4};
                max-height: #{$appIconSize * 4};
                margin: 0 auto;
                border-radius: 25px;
            }

            p {
                color: #b0b0b0;
                font-size: 0.75em;
            }

            .sublinks {
                display: flex;
                justify-content: center;

                a {
                    display: inline;
                    margin: 0 1em;
                    color: _palette(primary);
                    border-bottom: 1px solid _palette(primary);
                }
            }
        }
    }
}
