<div class="bg">
    <svg viewBox="0 0 900 4000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1">
        <g fill="currentColor">
            <circle r="82" cx="100" cy="180" />
            <circle r="83" cx="818" cy="200" />
            <circle r="147" cx="351" cy="435" />
            <circle r="120" cx="800" cy="850" />

            <circle r="82" cx="100" cy="1180" />
            <circle r="83" cx="818" cy="1200" />
            <circle r="147" cx="351" cy="1435" />
            <circle r="120" cx="800" cy="1850" />

            <circle r="82" cx="100" cy="2180" />
            <circle r="83" cx="818" cy="2200" />
            <circle r="147" cx="351" cy="2435" />
            <circle r="120" cx="800" cy="2850" />

            <circle r="82" cx="100" cy="3180" />
            <circle r="83" cx="818" cy="3200" />
            <circle r="147" cx="351" cy="3435" />
            <circle r="120" cx="800" cy="3850" />
        </g>
    </svg>
</div>